/* SFM (weights 400, 600) */
@font-face {
    font-family: 'SFM';
    src: url('../fonts/SFM-Regular.woff2') format('woff2'),
        url('../fonts/SFM-Regular.woff') format('woff'),
        url('../fonts/SFM-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFM';
    src: url('../fonts/SFM-Semibold.woff2') format('woff2'),
        url('../fonts/SFM-Semibold.woff') format('woff'),
        url('../fonts/SFM-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* T-Pro (weights 400 and 900) */
@font-face {
    font-family: 'T-Pro';
    src: url('../fonts/T-Pro-Regular.woff2') format('woff2'),
        url('../fonts/T-Pro-Regular.woff') format('woff'),
        url('../fonts/T-Pro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'T-Pro';
    src: url('../fonts/T-Pro-Black.woff2') format('woff2'),
        url('../fonts/T-Pro-Black.woff') format('woff'),
        url('../fonts/T-Pro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
 }
